body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    margin: 30px 100px;
}

form {
    margin: 50px 15px;
}

label, button {
    display: block;
}

label {
    margin: 7px 0px;
}

button {
    margin: 50px 0px;
    font-size: 20px;
    padding: 5px 10px;
    width: 200px;
    border-radius: 10px;
    background-color: #0000FF;
    color: black;
}

button:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s ease;
}

input, select {
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #0000FF;
}

h1 {
    color: #0000FF;
    text-shadow: 1px 1px 1px #000000;
}

input:focus, select:focus {
    border-bottom: 2px solid #000000;
    transition: 0.5s ease;
}

select {
    background-color: #FFFFFF;
}

.nome {
    width: 500px;
}

.altura {
    width: 75px;
}

.data-nascimento {
    width: 200px;
}

.genero {
    width: 250px;
}

.email {
    width: 500px;
}

.cpf {
    width: 300px;
}

.telefone {
    width: 200px;
}

.escolaridade {
    width: 150px;
}

.idade{
    width: 75px;
}